#!/bin/bash

PURE_FTPD_FLAGS="$@ $ADDED_FLAGS "

# start rsyslog
#if [[ "$PURE_FTPD_FLAGS" == *" -d "* ]] || [[ "$PURE_FTPD_FLAGS" == *"--verboselog"* ]]; then
#	rsyslogd
#fi

PASSWD_FILE="/etc/pure-ftpd/passwd/pureftpd.passwd"

if [ -e /etc/pure-ftpd/passwd/pureftpd.passwd ]; then
        pure-pw mkdb /etc/pure-ftpd/pureftpd.db -f "$PASSWD_FILE"
fi

if [ ! -z "$FTP_USER_NAME" ] && [ ! -z "$FTP_USER_PASS" ] && [ ! -z "$FTP_USER_HOME" ]; then
        PWD_FILE="$(mktemp)"
        echo "$FTP_USER_PASS" >> "$PWD_FILE"
        echo "$FTP_USER_PASS" >> "$PWD_FILE"

        # Set uid/gid
        PURE_PW_ADD_FLAGS=""
        if [ ! -z "$FTP_USER_UID" ]; then
                PURE_PW_ADD_FLAGS="$PURE_PW_ADD_FLAGS -u $FTP_USER_UID"
        else
                PURE_PW_ADD_FLAGS="$PURE_PW_ADD_FLAGS -u ftpuser"
        fi

        if [ ! -z "$FTP_USER_GID" ]; then
                PURE_PW_ADD_FLAGS="$PURE_PW_ADD_FLAGS -g $FTP_USER_GID"
        fi

        pure-pw useradd "$FTP_USER_NAME" -f "$PASSWD_FILE" -m -d "$FTP_USER_HOME" $PURE_PW_ADD_FLAGS < "$PWD_FILE"

        rm "$PWD_FILE"
fi

ln -s /etc/pure-ftpd/conf/PureDB /etc/pure-ftpd/auth/60puredb

if [ -z "$FTP_PASSIVE_PORTS" ]; then
        FTP_PASSIVE_PORTS="30000:30009"
fi

PURE_FTPD_FLAGS="$PURE_FTPD_FLAGS -p $FTP_PASSIVE_PORTS"

exec /usr/sbin/pure-ftpd $PURE_FTPD_FLAGS
